*{}

body{
background-color:orange;
}

	body p {
	color:white;
	}

#menu{
	background-color:black;
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height:12%;
	opacity:0.9;
	border-bottom:solid 2px red;
	z-index: 9000;
}

#link{
	position:relative;
	float:left;
	left:38%;
	top:30%;
	font-size:25px;
}

#link a:link {
  color:white;
  text-decoration:none;
}
#link a:visited {
  color:white;
  text-decoration:none;
}

#logo{
	position:absolute;
	top:10%;
	left:3%;
	width:25%;
	height: 80%;
	cursor: pointer;
}

#principal{
	
	background-color:black;
	position:absolute;
	left:10%;
	top:15%;
	width:80%;
	opacity:0.9;
	text-align:center;
}

#descript{
	font-size:20px;
	color:orange;
	position: absolute;
	top: 75%;
	left:6.2%;
}

#box1 {

	position: absolute;
	top:10%;
	right: 3%;
	width: 60%;
}

#frase{
	font-size:40px;
	color:white;
	position: absolute;
	top: 75%;
	left:0%;
}

#perfil{
	position: absolute;
	left:5%;
	top:50px;
	width: 25%;
	height: 265px;
	border-radius:360px;
	border: solid 2px orange;
}

#contatos{
	
	background-color:black;
	position:absolute;
	left:10%;
	top:85%;
	width:80%;
	opacity:0.9;
	height: 80px;
}

#contatos a{

	position: relative;
	top:25%;
	left:8%;

}

#contatos a:link {
  color:white;
  text-decoration:none;
}
#contatos a:visited {
  color:white;
  text-decoration:none;
}
#contatos a:hover {
	color:white;
	text-decoration:underline;
}

#contatos img{
	position: relative;
	top:12%;
	margin-right: 1%;
}

.icon{
	width: 5%;
	height: 40%;
	margin-left: 10%;
}